*/.cache
*/build
*/external
*/imgui.ini
*/.vscode/settings.json
a01/a01
a02/a02
a03/a03
*/*.pdf
*/*.zip
*/dep
*/compile_commands.json
*/release
*/output.png
/dep
/external
a01/halton1.png
a01/halton2.png
a01/halton3.png
a01/hammersley1.png
a01/hammersley2.png
a01/hammersley3.png
a01/low-discrepancy1.png
a01/low-discrepancy2.png
a01/low-discrepancy3.png
a01/stratified1.png
a01/stratified2.png
a01/stratified3.png
a01/uniform1.png
a01/uniform2.png
a01/uniform3.png
a03/dist1D_abs_hits.png
a03/dist1D_abs_pdf.png
a03/dist1D_const_hits.png
a03/dist1D_const_pdf.png
a03/dist1D_gradient_hits.png
a03/dist1D_gradient_pdf.png
a03/dist1D_pow_hits.png
a03/dist1D_pow_pdf.png
a03/dist2D_0_hits.png
a03/dist2D_0_pdf.png
a03/dist2D_1_hits.png
a03/dist2D_1_pdf.png
